<!--templates/expenses_form.html-->

<fieldset>
        <legend>Edit Expense Log</legend>
        <!-- DATE PURCHASED -->
        <div class='form-group'>
            <label for='expense-title'>Date Purchased</label><br>
            <input class='form-control' id='expense-title' type='text' name='dtae' value='{{ expense.date_purchased }}'/>
        </div>

        <!-- PRODUCT NAME-->
        <div class='form-group'>
            <label for='description'>Product/Service Name</label><br>
            <input class='form-control' id='description' type='text' name='name' value='{{ expense.product_name }}' />
        </div>

        <!-- PRICE -->
        <div class='form-group'>
            <label for='description'>Price of the Product/Service</label><br>
            <input class='form-control' id='description' type='number' name='price' value='{{ expense.price }}' />
        </div>
        
        <!-- PAYMENT METHOD-->
        <div class='form-group'>
            <label for='description'>Payment Method</label><br>
            <input class='form-control' id='description' type='text' name='payment method' value='{{ expense.payment_method }}' />
        </div>
    </fieldset>