<!--templates/expenses_form.html-->

<fieldset>
        <legend style='font-family:trajan'>Edit Expense Log</legend>
        <!-- DATE PURCHASED -->
        <div class='form-group'>
            <label for='expense-title' style='font-family:trajan'>Date Purchased</label><br>
            <input class='form-control' id='expense-title' type='date' style='font-family:trajan' name='date_purchased' value='{{ expense.date_purchased }}'/>
        </div>

        <!-- PRODUCT NAME-->
        <div class='form-group'>
            <label for='description' style='font-family:trajan'>Product/Service Name</label><br>
            <input class='form-control' id='description' type='text' style='font-family:trajan' name='name' value='{{ expense.product_name }}' />
        </div>

        <!-- PRICE -->
        <div class='form-group'>
            <label for='description' style='font-family:trajan'>Price of the Product/Service</label><br>
            <input class='form-control' id='description' type='number' style='font-family:trajan' name='price' value='{{ expense.price }}' />
        </div>
        
        <!-- PAYMENT METHOD-->
        <div class='form-group'>
            <label for='description' style='font-family:trajan'>Payment Method</label><br>
            <input class='form-control' id='description' type='text' style='font-family:trajan' name='payment_method' value='{{ expense.payment_method }}' />
        </div>
    </fieldset>