<!-- templates/expenses_new.html -->
{% extends 'base.html' %}

{% block content %}

<h4><a href='/' style='font-size:20px;font-family:trajan'>Back to Home</a></h4>
<!--Create New Log-->
<legend style='color:#000000; font-size:25px; font-family:trajan'><center>New Expense Log</center></legend>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/expenses'>
            {% include 'partials/expenses_form.html' %}
            <!-- BUTTON -->
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit' style=font-size:15px; font-family:trajan'>Save Expense Log</button>
                </div>
        </form>
    </div>
</div>

{% endblock %}