<!--templates/expenses_edit.html-->
{% extends 'base.html' %}

{% block content %}

<h3 style='font-family:trajan'><a href='/'>Back to Home</a></h3>
<!--Save/Make Edits-->
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/expenses/{{expense._id}}'>
            <input type='hidden' name='_method' value='PUT'/>
            {% include 'partials/expenses_form.html' %}
            <!-- BUTTON -->
            <div class='form-group'>
                <h4><button class='btn btn-primary' type='submit'>Save Expense Log</button></h4>
            </div>
        </form>
    </div>
</div>

{% endblock %}