<!--templates/expense_show.html-->
{% extends 'base.html' %}

{% block content %}

<body>
    <h2>HTML Table</h2>
    
    <table>
      <tr>
        <th>{{expense.date_puchased}}</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Payment Method</th>
      </tr>
      <tr>
        <td>{{expense.product_name}}</td>
        <td>{{expense.price}}</td>
        <td>{{expense.payment_method}}</td>
      </tr>
    </table>
    </body>

<p><form action='/expense/{{ expense._id }}/edit'>
    <input type='hidden' name='_method' value='EDIT'>   
    <button class='btn btn-primary' type='submit'>Edit Expense Logger</button>
</form></p>
<p><form method='POST' action='/expense/{{ expense._id }}/delete'>
    <input type='hidden' name='_method' value='DELETE'>
    <button class='btn btn-primary' type='submit'>Delete Expense Logger</button>
</form></p>
</div>
</div>
{% endblock %}