<!-- templates/expenses_new.html -->
{% extends 'base.html' %}

{% block content %}

<h3 style='font-family:trajan'><a href='/'>Back to Home</a></h3>
<!--Create New Log-->
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/expenses'>
            {% include 'partials/expenses_form.html' %}
            <!-- BUTTON -->
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit' style='font-family:trajan'>Save Expense Log</button>
                </div>
        </form>
    </div>
</div>

{% endblock %}