<!--templates/expenses_show.html-->
{% extends 'base.html' %}

{% block content %}
<!--Show Existing Log-->
<h4><a href='/' style='font-family:trajan'>Back to Home</a></h4>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <h2 style='font-family:trajan'>Expense Log: {{expense.date_purchased}}</h2>
      <br>
      <table>
        <head>
          <tr>
            <h3 style='font-family:trajan'><th>Date Purchased</th></h3>
            <h3 style='font-family:trajan'><th>Product Name</th></h3>
            <h3 style='font-family:trajan'><th>Price</th></h3>
            <h3 style='font-family:trajan'><th>Payment Method</th></h3>
          </tr>
        </head>
        </body>
          <tr>
            <h3 style='font-family:trajan'><td>{{expense.date_puchased}}</td></h3>
            <h3 style='font-family:trajan'><td>{{expense.product_name}}</td></h3>
            <h3 style='font-family:trajan'><td>${{expense.price}}</td></h3>
            <h3 style='font-family:trajan'><td>{{expense.payment_method}}</td></h3>
          </tr>
        </body>
      </table>

      <p><form action='/expenses/{{ expense._id }}/edit'>
        <input type='hidden' name='_method' value='EDIT'>   
        <button class='btn btn-primary' type='submit' style='font-family:trajan'>Edit Expense Logger</button>
      </form></p>
      <p><form method='POST' action='/expenses/{{ expense._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary' type='submit' style='font-family:trajan'>Delete Expense Logger</button>
      </form></p>
  </div>
</div>
{% endblock %}