<!--templates/expenses_show.html-->
{% extends 'base.html' %}

{% block content %}
<!--Show Existing Log-->
<h4><a href='/'>Back to Home</a></h4>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>

    <h2>Expense Log: {{expense.date_purchased}}</h2>
    
    <table>
      <head>
        <tr>
          <th>Date Purchased</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Payment Method</th>
        </tr>
      </head>
      </body>
        <tr>
          <td>{{expense.date_puchased}}</td>
          <td>{{expense.product_name}}</td>
          <td>{{expense.price}}</td>
          <td>{{expense.payment_method}}</td>
        </tr>
      </body>
    </table>

      <p><form action='/expenses/{{ expense._id }}/edit'>
        <input type='hidden' name='_method' value='EDIT'>   
        <button class='btn btn-primary' type='submit'>Edit Expense Logger</button>
      </form></p>
      <p><form method='POST' action='/expenses/{{ expense._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary' type='submit'>Delete Expense Logger</button>
      </form></p>
  </div>
</div>
{% endblock %}