<!--templates/expenses_show.html-->
{% extends 'base.html' %}

{% block content %}
<!--Show Existing Log-->
<h4><a href='/' style='font-size:20px;font-family:trajan'>Back to Home</a></h4>
<div class='table'>
    <div class='col-sm-6 col-sm-offset-3'>
      <h2 style='font-family:trajan'>Expense Log: {{ expense.date_purchased }}</h2>
      <br>
      <table>
        <head>
          <tr style='font-size:20px; font-family:trajan'>
            <h2><th>Product/Service Name</th></h2>
            <h2><th>Price</th></h2>
            <h2><th>Payment Method</th></h2>
          </tr>
        </head>
        </body>
          <tr style='font-size:20px; font-family:trajan'>
            <h2><td>{{ expense.product_name }}</td></h2>
            <h2><td>${{ expense.price }}</td></h2>
            <h2><td>{{ expense.payment_method }}</td></h2>
          </tr>
        </body>
      </table>

      <p><form action='/expenses/{{ expense._id }}/edit'>
        <input type='hidden' name='_method' value='EDIT'>   
        <button class='btn btn-primary' type='submit' style='font-size:15px; font-family:trajan'>Edit Expense Logger</button>
      </form></p>
      <p><form method='POST' action='/expenses/{{ expense._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary' type='submit' style='font-size:15px; font-family:trajan'>Delete Expense Logger</button>
      </form></p>
  </div>
</div>
{% endblock %}