<!--templates/login_new.html-->
{% extends 'base.html' %}
{% extends 'login_index.html' %}

{% block content %}
<body>
    <div class='container text-center'>
        <div class = 'card'>
            <div class='card-body'>
                <form method = 'POST' action = '/login_submit'>
                    <h1>Create new account</h1>
                    <label for = 'username'>Username: </label>
                    <input type = 'username' name = 'username'>
                    <br>
                    <br>
                    <label for = 'password'>New Password: </label>
                    <input type = 'password' name = 'password'>
                    <br>
                    <br>
                    <button class='btn btn-primary' type='submit'>Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}